<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Web-Shopping</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Customer_Login</servlet-name>
    <servlet-class>com.test.Customer_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Login</servlet-name>
    <url-pattern>/customer_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Customer_Register</servlet-name>
    <servlet-class>com.test.Customer_Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Register</servlet-name>
    <url-pattern>/customer_reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Customer_Exit</servlet-name>
    <servlet-class>com.test.Customer_Exit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Exit</servlet-name>
    <url-pattern>/customer_exit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_Login</servlet-name>
    <servlet-class>com.test.Admin_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Login</servlet-name>
    <url-pattern>/admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_Register</servlet-name>
    <servlet-class>com.test.Admin_Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Register</servlet-name>
    <url-pattern>/admin_reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_Exit</servlet-name>
    <servlet-class>com.test.Admin_Exit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Exit</servlet-name>
    <url-pattern>/admin_exit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_Add_Product</servlet-name>
    <servlet-class>com.action.Admin_Add_Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Add_Product</servlet-name>
    <url-pattern>/admin_add_product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllProduct</servlet-name>
    <servlet-class>com.action.GetAllProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllProduct</servlet-name>
    <url-pattern>/getAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetProductByName</servlet-name>
    <servlet-class>com.action.GetProductByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductByName</servlet-name>
    <url-pattern>/getProductByName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetProductByCategory</servlet-name>
    <servlet-class>com.action.GetProductByCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductByCategory</servlet-name>
    <url-pattern>/getProductByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_GetProductById</servlet-name>
    <servlet-class>com.action.Admin_GetProductById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_GetProductById</servlet-name>
    <url-pattern>/admin_GetProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_Delete_Product</servlet-name>
    <servlet-class>com.action.Admin_Delete_Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Delete_Product</servlet-name>
    <url-pattern>/admin_delete_product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_Edit_Product</servlet-name>
    <servlet-class>com.action.Admin_Edit_Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Edit_Product</servlet-name>
    <url-pattern>/admin_edit_product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Customer_Add_Cart</servlet-name>
    <servlet-class>com.action.Customer_Add_Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Add_Cart</servlet-name>
    <url-pattern>/customer_add_cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Customer_Show_Cart</servlet-name>
    <servlet-class>com.action.Customer_Show_Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Show_Cart</servlet-name>
    <url-pattern>/customer_show_cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Customer_Delete_Cart</servlet-name>
    <servlet-class>com.action.Customer_Delete_Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Delete_Cart</servlet-name>
    <url-pattern>/customer_delete_cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Customer_Pay_One</servlet-name>
    <servlet-class>com.action.Customer_Pay_One</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Pay_One</servlet-name>
    <url-pattern>/customer_pay_one</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Customer_Submit_Order</servlet-name>
    <servlet-class>com.action.Customer_Submit_Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Submit_Order</servlet-name>
    <url-pattern>/customer_submit_order</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Customer_Pay_All</servlet-name>
    <servlet-class>com.action.Customer_Pay_All</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Pay_All</servlet-name>
    <url-pattern>/customer_pay_all</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Customer_Show_Order</servlet-name>
    <servlet-class>com.action.Customer_Show_Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Show_Order</servlet-name>
    <url-pattern>/customer_show_order</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_Show_All_Order</servlet-name>
    <servlet-class>com.action.Admin_Show_All_Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Show_All_Order</servlet-name>
    <url-pattern>/admin_show_all_order</url-pattern>
  </servlet-mapping>
</web-app>